<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./css/baseStyle.css">
<title>ベース：未ログインレイアウト</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<div class="container-fluid">
				<a th:href="@{/}" class="navbar-brand"> <img
					src="./images/logo.png" alt="" width="60" height="60"
					class="d-inline-block align-text-top">
				</a>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a th:href="@{/}" class="nav-link mt-3" aria-current="page">トップページ</a>
				   		</li>
						<li class="nav-item active">
							<a th:href="@{/Login}" class="nav-link mt-3">ログイン画面</a>
				   		</li>
				   		<li class="nav-item">
				   			<a th:href="@{/UserRegistration}" class="nav-link mt-3">新規会員登録</a>
				   		</li>
				   		<li class="nav-item">
				   			<a th:href="@{/LoginAdmin}" class="nav-link mt-3">管理者画面</a>
				   		</li>
			 		</ul>
			 	</div>
			</div>
		</nav>
	</header>
	<div layout:fragment="contents" class="main_frame"></div>
	<footer>
		<div class="footer_frame">
			<p>Copyright 2023 doconano All Rights Reserved.</p>
		</div>
	</footer>
</body>
</html>