@charset "UTF-8";

body {
	background-image: url(../images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

@media screen and (max-width:575px) {
	img{
		max-width: 350px;
	}
	
	.in_frame{
		width: 290px;
		height: auto;
		margin: 0 auto;
		text-align: left;
	}
	
	#error{
		margin: 0 auto;
	}
}

@media screen and (max-width:412px) {
	img{
		max-width: 250px;
	}
	
	.in_frame{
		width: 290px;
		height: auto;
		margin: 0 auto;
		text-align: left;
	}
	
	#error{
		margin: 0 auto;
	}
}

a {
  text-decoration: none;
}

.outer_frame{
	width: 100%;
	text-align: center;
	display: block;
}

.in_frame{
	width: 300px;
	height: auto;
	margin: 0 auto;
	text-align: left;
}

.outer_frame ul{
	list-style:none;
	color: #ff0000;
	display: inline-block;
}

.outer_frame ul li{
	text-align: left;
}

.container{
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	background:rgba(255,255,255,1.0);
}

#error{
	margin: 0 auto;
}