@charset "UTF-8";

body {
	background-image: url(../images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.outer_frame{
	width: 450px;
}

.in_frame{
	width: 300px;
	height: auto;
	margin: 0 auto;
}

.outer_frame ul{
	list-style:none;
	color: #ff0000;
}

.container{
	background:rgba(255,255,255,1.0);
}