@charset "UTF-8";

body {
	background-image: url(../images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

a {
  text-decoration: none;
}

.outer_frame{
	width: 450px;
}

.in_frame{
	width: 300px;
	height: auto;
	margin: 0 auto;
}

.outer_frame ul{
	list-style:none;
	color: #ff0000;
}

.container{
	overflow-y: auto;
	background:rgba(255,255,255,1.0);
}