@charset "UTF-8";

@media screen and (max-width:1100px) {
  .table {
    width: 1100px
  }
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

#error{
	list-style:none;
	color: #ff0000;
}

.in_frame{
	width: 350px;
	height: auto;
	margin: 5px auto;
}