@charset "UTF-8";

@media screen and (max-width:1100px) {
  .table {
    width: 1100px
  }
}

@media screen and (max-width:575px) {
	img{
		max-width: 350px;
	}
}

@media screen and (max-width:412px) {
	img{
		max-width: 250px;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

#error{
	list-style:none;
	color: #ff0000;
}
