@charset "UTF-8";

body {
	background-image: url(../images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.error{
	color: #ff0000;
}

.container{
	min-height: 100vh;
	overflow-y: auto;
	background:rgba(255,255,255,1.0);
}
