<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/adminLayout}">
<head>
<base href="https://doconano.net/Doconano/"></base>
<meta name="robots" content="noindex,noarchive,nofollow,noimageindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="./css/informationsStyle.css">
<link rel="icon" href="./images/favicon.ico">
<meta charset="UTF-8">
<title>掲載情報管理ページ</title>
</head>
<body>
	<div layout:fragment="contents">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
		<div class="container-fluid text-center h-100">
			<div class="d-flex flex-column align-items-center justify-content-center">
				<h1><img src="./images/admin/Atitle2.png" alt="" class="mt-5"></h1>
				<th:block th:each="errorMsg : ${msg}">
					<label id="error" th:text="${errorMsg}"></label>
					<br>
				</th:block>
	
				<form th:action="@{/Doconano/Search}" method="post">
					<div class="row">
						<div class="col">
							<label class="form-label">開始日付</label><br> <input type="date"
								name="startDate" class="form-control">
						</div>
	
						<div class="col">
							<label class="form-label">終了日付</label><br> <input type="date"
								name="endDate" class="form-control">
						</div>
	
						<div class="col-12 mt-3">
							<label class="form-label">場所</label><br> <input type="text"
								name="searchPlace" class="form-control"> 
						</div>
						
						<div class="col-12 mt-3">
							<label class="form-label">ユーザーID</label><br> <input type="text"
								name="user_id" class="form-control"> 
						</div>
						
						<div class="w-45 h-auto p-3 text-center">
							<input type="submit" value="検索" class="btn btn-outline-dark w-25 mt-3">
						</div>
					</div>
				</form>
			</div>
	
			<h1><img src="./images/admin/Ainfo1.png" alt="" class="mt-3"></h1>
	
			<p id="error" th:text="${msg1}"></p>
			<form th:action="@{/Doconano/UserInformationsMissingPersonAction}" method="post">
			<div class="table-responsive h-100">
				<table class="table table-bordered">
					<thead th:unless="${msg1}">
						<tr>
							<th scope="col" class="small" style="width:5%">id</th>
							<th scope="col" class="small" style="width:10%">行方不明日</th>
							<th scope="col" class="small" style="width:10%">氏名</th>
							<th scope="col" class="small" style="width:5%">性別</th>
							<th scope="col" class="small" style="width:5%">年齢</th>
							<th scope="col" class="small" style="width:30%">詳細</th>
							<th scope="col" class="small" style="width:25%">最後に立ち寄った可能性のある場所</th>
							<th scope="col" class="small" style="width:5%">登録者</th>
							<th scope="col" class="small" style="width:5%">終了</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="missingPerson : ${missingPersonsList}">
							<td th:text="${missingPerson.id}" class="small"></td>
							<td th:text="${missingPerson.date}" class="small"></td>
							<td th:text="${missingPerson.name}" class="small"></td>
							<td th:text="${missingPerson.gender}" class="small"></td>
							<td th:text="${missingPerson.age}" class="small"></td>
							<td th:text="${missingPerson.detail}" class="small"></td>
							<td class="small">[[${missingPerson.prefectures}]]
								[[${missingPerson.municipalities}]] [[${missingPerson.other}]]</td>
							<td th:text="${missingPerson.user_id}" class="small"></td>
							<td>
							<button type="submit" name="end" th:value="${missingPerson.id}"
							class="btn btn-outline-dark btn-block btn-sm">終了</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</form>
	
			<h1><img src="./images/admin/Ainfo2.png" alt="" class="mt-3"></h1>
	
			<p id="error" th:text="${msg2}"></p>
			<form th:action="@{/Doconano/UserInformationsMissingPersonSightingsAction}" method="post">
			<div class="table-responsive h-100">
				<table class="table table-bordered">
					<thead th:unless="${msg2}">
						<tr>
							<th scope="col" class="small" style="width:5%">id</th>
							<th scope="col" class="small" style="width:10%">行方不明日</th>
							<th scope="col" class="small" style="width:5%">性別</th>
							<th scope="col" class="small" style="width:5%">年齢</th>
							<th scope="col" class="small" style="width:35%">詳細</th>
							<th scope="col" class="small" style="width:30%">目撃場所</th>
							<th scope="col" class="small" style="width:5%">登録者</th>
							<th scope="col" class="small" style="width:5%">終了</th>
						</tr>
					</thead>
					<tbody>
						<tr
							th:each="missingPersonSightings : ${missingPersonSightingsList}">
							<td th:text="${missingPersonSightings.id}" class="small"></td>
							<td th:text="${missingPersonSightings.date}" class="small"></td>
							<td th:text="${missingPersonSightings.gender}" class="small"></td>
							<td th:text="${missingPersonSightings.age}" class="small"></td>
							<td th:text="${missingPersonSightings.detail}" class="small"></td>
							<td class="small">[[${missingPersonSightings.prefectures}]]
								[[${missingPersonSightings.municipalities}]]
								[[${missingPersonSightings.other}]]</td>
							<td th:text="${missingPersonSightings.user_id}" class="small"></td>
							<td>
							<button type="submit" name="end" th:value="${missingPersonSightings.id}"
							class="btn btn-outline-dark btn-block btn-sm">終了</button>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
			</form>
			
			<h1><img src="./images/admin/Ainfo3.png" alt="" class="mt-3"></h1>
	
			<p id="error" th:text="${msg3}"></p>
			<form th:action="@{/Doconano/UserInformationsSuspiciousPersonSightingsAction}" method="post">
			<div class="table-responsive h-100">
				<table class="table table-bordered">
					<thead th:unless="${msg3}">
						<tr>
							<th scope="col" class="small" style="width:5%">id</th>
							<th scope="col" class="small" style="width:10%">行方不明日</th>
							<th scope="col" class="small" style="width:5%">性別</th>
							<th scope="col" class="small" style="width:5%">年齢</th>
							<th scope="col" class="small" style="width:35%">詳細</th>
							<th scope="col" class="small" style="width:30%">目撃場所</th>
							<th scope="col" class="small" style="width:5%">登録者</th>
							<th scope="col" class="small" style="width:5%">終了</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="suspiciousPersonSightings : ${suspiciousPersonSightingsList}">
							<td th:text="${suspiciousPersonSightings.id}" class="small"></td>
							<td th:text="${suspiciousPersonSightings.date}" class="small"></td>
							<td th:text="${suspiciousPersonSightings.gender}" class="small"></td>
							<td th:text="${suspiciousPersonSightings.age}" class="small"></td>
							<td th:text="${suspiciousPersonSightings.detail}" class="small"></td>
							<td class="small">
								[[${suspiciousPersonSightings.prefectures}]]
								[[${suspiciousPersonSightings.municipalities}]]
								[[${suspiciousPersonSightings.other}]]</td>
							<td th:text="${suspiciousPersonSightings.user_id}" class="small"></td>
							<td>
							<button type="submit" name="end" th:value="${suspiciousPersonSightings.id}"
							class="btn btn-outline-dark btn-block btn-sm">終了</button>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
			</form>
			
		</div>
	</div>
</body>
</html>