<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/logoutLayout}">

<head>
<base href="https://doconano.net/Doconano/"></base>
<meta name="robots" content="noindex,noarchive,nofollow,noimageindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="./css/frameStyle.css">
<link rel="icon" href="./images/favicon.ico">
<meta charset="UTF-8">
<title>ユーザーIDを忘れた方</title>
</head>
<body>
	<div layout:fragment="contents">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		
		<div class="container">
			<div class="d-flex flex-column align-items-center justify-content-center">
				<h1><img src="./images/title7.png" alt="" class="mt-5"></h1>
				<div class="outer_frame">
					<div class="d-grid gap-2 mt-3 p-0">
					
						<form th:action="@{/Doconano/CheckPassword}" method="post">
							<div class="error_frame">
								<ul th:unless="${msg} == null" class="">
									<th:block th:each=erroMsg:${msg}>
										<li id="error" th:text="${erroMsg}"></li>
									</th:block>
								</ul>
							</div>
							<div class="in_frame mb-3">
							
								<div class="mb-3">
									<label for="id" class="form-label">会員番号</label>
									<input type="number" name="id" class="form-control">
								</div>
							
							
								<div class="mb-3">
									<label for="password" class="form-label">パスワード</label>
									<input type="password" name="password" class="form-control">
								</div>
								
								<div class="mb-3">
									<label for="familyName" class="form-label">名字</label>
									<input type="text" name="familyName" class="form-control">
								</div>
								
								<div class="mb-3">
									<label for="firstName" class="form-label">名前</label>
									<input type="text" name="firstName" class="form-control">
								</div>
								
								<div class="mb-3">
									<label for="birthday" class="form-label">生年月日</label>
									<input type="date" name="birthday" class="form-control">
								</div>
								
								<div class="mb-3">
									<label for="email" class="form-label">メールアドレス</label>
									<input type="email" name="email" class="form-control">
								</div>
								
								<div class="mb-3">
									<label for="questions" class="form-label">秘密の質問</label>
									<select class="form-select" aria-label="Default select example" name="questions">
										<option value="0"></option>
											<option
											th:each="questions : ${questionsList}"
											th:value="${questions.id}"
											th:text="${questions.questions}">
											</option>
									</select>
								</div>
								
								<div class="mb-3">
									<label for="answer" class="form-label">秘密の質問の答え</label>
									<input type="text" name="answer" class="form-control">
								</div>
								
								<input type="submit" value="次へ" class="btn btn-outline-dark mt-3 w-100">
							
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>