<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>各情報表示ページ</title>
</head>
<body>
	<h1>各情報表示ページ</h1>
	
	<h2>探し人情報</h2>
	<th:block th:each="errorMsg : ${msg}">
		<label id="error" th:text="${errorMsg}"></label><br>
	</th:block>
	
	<form th:action="@{/Search}" method="post">
		<label>日付</label><br>
		<input type="date" name="startDate">〜
		<input type="date" name="endDate">
		<input type="submit" value="検索">
	</form>
	
	<table>
		<tr th:each="missingPerson : ${missingPersonsList}">
			<td th:text="${missingPerson.date}"></td>
			<td th:text="${missingPerson.name}"></td>
			<td th:text="${missingPerson.gender}"></td>
			<td th:text="${missingPerson.age}"></td>
			<td th:each="place : ${missingPerson.place}">
				[[${place}]]
			</td>
		</tr>
	</table>
		
	<form th:action="@{/Menu}" method="post">
		<input type="submit" value="メニューページへ">
	</form>
	
</body>
</html>