<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="./css/frameStyle.css">
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
	<div class="container">
		<div class="d-flex flex-column align-items-center justify-content-center">
			<h1>ログイン画面</h1>
			<div class="outer_frame">
				<div class="d-grid gap-2 mt-3">
					<form th:action="@{/LoginAction}" method="post" th:object="${user}">
						<ul th:if="${#fields.hasErrors('*')}">
								<li th:each="errors:${#fields.errors('user_id')}" th:text="${errors}"></li>
								<li th:each="errors:${#fields.errors('password')}" th:text="${errors}"></li>
						</ul>
						<ul th:unless="${msg} == null">
							<th:block th:each="errorMsg : ${msg}">
								<li id="error" th:text="${errorMsg}"></li>
							</th:block>
						</ul>
						
						<div class="in_frame">
						
							<div class="mb-3">
								<label for="user_id" class="form-label">ユーザーID</label>
								<input type="text" th:field="*{user_id}" class="form-control">
							</div>
							
							<div class="mb-3">
								<label for="password" class="form-label">パスワード</label>
								<input type="password" th:field="*{password}" class="form-control">
							</div>
							
							<input type="submit" value="ログイン" class="btn btn-outline-dark mt-3 w-100">
						
						</div>
					</form>
					
					<div class="in_frame">
						<form th:action="@{/Safe}">
							
							<input type="submit" value="トップページへ" class="btn btn-outline-dark mt-3 w-100">
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>