<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>探し人情報登録ページ</title>
</head>
<body>
	<h1>探し人情報登録ページ</h1>
	<form th:action="@{/MissingPersonsRegistration}" method="post">
		<div>
			<div th:unless="${msg} == null">
				<th:block th:each="errorMsg : ${msg}">
					<label id="error" th:text="${errorMsg}"></label><br>
				</th:block>
			</div>
			<label for="date">行方不明日</label><br>
			<input type="date" name="date">
		</div>
		
		<div>
			<label for="name">氏名</label><br>
			<input type="text" name="name">
		</div>
		
		<div>
			<label for="gender">性別</label><br>
			<input type="radio" value="M">男
			<input type="radio" value="W">女
		</div>
		
		<div>
			<label for="age">年齢</label><br>
			<input type="number" name="age">
		</div>
		
		<div>
			<label for="detail">服装・背格好・経緯</label><br>
			<textarea name="detail" rows="5" cols="30"></textarea>
		</div>
		
		<div>
			<label for="place">最後に立ち寄った可能性のある場所</label><br>
			<input type="text" name="place">県<br>
			<input type="text" name="place">市<br>
			番地等<br>
			<textarea name="place" rows="5" cols="30"></textarea>
		</div>
		
		<input type="submit" value="登録">
	</form>
	
	<form th:action="@{/logoutAction}" method="post">
		<input type="submit" value="ログアウト">
	</form>

</body>
</html>