<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/layout}">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="./css/registrationStyle.css">
<link rel="icon" href="./images/favicon.ico">
<meta charset="UTF-8">
<title>『探し人』登録情報編集ページ</title>
</head>
<body>
	<div layout:fragment="contents">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		
		<div class="container">
			<div class="d-flex flex-column align-items-center justify-content-center">
				<h1><img src="./images/edit1.png" alt="" class="m-3"></h1>
				<div class="w-75 h-auto p-3">
					<form th:action="@{/MissingPersonsUpdate}" method="post" th:object="${missingPersons}">
						<ul th:if="${#fields.hasErrors('*')}">
							<li th:each="errors:${#fields.errors('date')}" th:text="${errors}"></li>
							<li th:each="errors:${#fields.errors('name')}" th:text="${errors}"></li>
							<li th:each="errors:${#fields.errors('gender')}" th:text="${errors}"></li>
							<li th:each="errors:${#fields.errors('age')}" th:text="${errors}"></li>
							<li th:each="errors:${#fields.errors('detail')}" th:text="${errors}"></li>
							<li th:each="errors:${#fields.errors('prefectures')}" th:text="${errors}"></li>
							<li th:each="errors:${#fields.errors('municipalities')}" th:text="${errors}"></li>
							<li th:each="errors:${#fields.errors('other')}" th:text="${errors}"></li>
						</ul> 
						
						<div th:each="List:${missingPersonsList}">
							<div class="mb-3">
								<label for="date" class="form-label">行方不明日</label><br>
								<label>変更前：[[${List.date}]]</label>
								<input type="date" name="date" th:value="${List.date}" class="form-control">
							</div>
							
							<div class="mb-3">
								<label for="name" class="form-label">氏名</label><br>
								<label>変更前：[[${List.name}]]　さん</label>
								<input type="text" name="name" th:value="${List.name}"  class="form-control">
							</div>
							
							<div class="mb-3">
								<label for="gender" class="form-check-label">性別</label><br>
								<label>変更前：[[${List.gender}]]</label><br>
								<input type="radio" name="gender" th:value="男" th:checked="${List.gender eq '男'}" class="form-check-input" required>男
								<input type="radio"name="gender" th:value="女" th:checked="${List.gender eq '女'}" class="form-check-input">女
							</div>
							
							<div class="mb-3">
								<label for="age" class="form-label">年齢</label><br>
								<label>変更前：[[${List.age}]]　歳</label>
								<input type="number"  name="age" th:value="${List.age}"  class="form-control">
							</div>
							
							<div class="mb-3">
								<label for="detail" class="form-label">服装・背格好・経緯</label><br>
								<label>変更前：[[${List.detail}]]</label>
								<textarea name="detail" rows="5" cols="30"  class="form-control">[[${List.detail}]]</textarea>
							</div>
							
							<div class="mb-3">
								<label class="form-label">最後に立ち寄った可能性のある場所</label><br>
								<label>変更前：[[${List.prefectures}]]・[[${List.municipalities}]]・[[${List.other}]]</label><
								都道府県名<br>
								<input type="text" name="prefectures" th:value="${List.prefectures}"  class="form-control"><br>
								市区町村<br>
								<input type="text" name="municipalities" th:value="${List.municipalities}"  class="form-control"><br>
								番地等<br>
								<textarea name="other" rows="5" cols="30"  class="form-control">[[${List.other}]]</textarea>
							</div>
							
						</div>
						
						<div class="w-100 h-auto text-center">
							<input type="submit" value="登録" class="btn btn-outline-dark w-50 mt-3">
						</div>
					</form>
				
					<div class="w-100 h-auto text-center">
						<form th:action="@{/UserInformations}" method="get">
							<input type="submit" value="ユーザーページへ" class="btn btn-outline-dark w-50 mt-3">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>