<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SAFEメニュー選択ページ</title>
</head>
<body>
	<h1>メニュー選択ページ</h1>
	<form th:action="@{/MissingPersons}">
		<input type="submit" value="探し人を登録する">
	</form>
	
	<form th:action="@{/MissingPersonsSightings}">
		<input type="submit" value="探し人の目撃情報を登録する">
	</form>
	
	<form th:action="@{/SuspiciousPersonSighting}">
		<input type="submit" value="不審者の目撃情報を登録する">
	</form>
	
	<form th:action="@{/Informations}">
		<input type="submit" value="各情報を確認する">
	</form>
	
	<form th:action="@{/LogoutAction}" method="post">
		<input type="submit" value="ログアウト">
	</form>

</body>
</html>