<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/logoutLayout}">

<head>
<base href="https://doconano.net/Doconano/"></base>
<meta name="robots" content="noindex,noarchive,nofollow,noimageindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="./css/frameStyle.css">
<link rel="icon" href="./images/favicon.ico">
<meta charset="UTF-8">
<title>登録確認ページ</title>
</head>
<body>
	<div layout:fragment="contents">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		
		<div class="container">
			<div class="d-flex flex-column align-items-center justify-content-center">
				<h1><img src="./images/checkTitle.png" alt="" class="mt-5"></h1>
				<h5 class="h5 mt-2">下記内容で登録しますか？</h5>
				<form th:action="@{/Doconano/UserRegistrationAction}" method="post" th:object="${user}">
					<div class="mt-3 mb-3 text-center">
						<label for="user_id" class="form-label">ユーザーID:</label>
						<label for="user_id" class="form-label" th:text="*{user_id}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="password" class="form-label">パスワード:</label>
						<label for="password" class="form-label" th:text="*{password}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="notification" class="form-label">不審者情報の通知:</label>
						<label for="notification" class="form-label" th:if="*{notification}">設定する</label>
						<label for="notification" class="form-label" th:unless="*{notification}">設定しない</label>
					</div>
					<div class="mb-3 text-center">
						<label for="notification_p" class="form-label">通知する県:</label>
						<label for="notification_p" class="form-label" th:text="*{notification_p}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="notification_m" class="form-label">通知する市区町村:</label>
						<label for="notification_m" class="form-label" th:text="*{notification_m}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="familyName" class="form-label">名字:</label>
						<label for="familyName" class="form-label" th:text="*{familyName}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="firstName" class="form-label">名前:</label>
						<label for="firstName" class="form-label" th:text="*{firstName}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="birthday" class="form-label">生年月日:</label>
						<label for="birthday" class="form-label" th:text="*{birthday}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="email" class="form-label">メールアドレス:</label>
						<label for="email" class="form-label" th:text="*{email}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="question" class="form-label">秘密の質問:</label>
						<label for="question" class="form-label" th:text="*{question}"></label>
					</div>
					<div class="mb-3 text-center">
						<label for="answer" class="form-label">秘密の質問の答え:</label>
						<label for="answer" class="form-label" th:text="*{answer}"></label>
					</div>
					
					
					<div class="in_frame">
						<input type="submit" value="登録" class="btn btn-outline-dark mt-3 w-100">
					</div>
				</form>
				
				<form th:action="@{/Doconano/UserRegistrationBackAction}" method="post">
					<div class="in_frame m-2">
						<input type="submit" value="戻る" class="btn btn-outline-dark w-100">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>