<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{commons/layout}">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet" href="./css/informationsStyle.css">
<link rel="icon" href="./images/favicon.ico">
<meta charset="UTF-8">
<title>ユーザーページ</title>
</head>
<body>
	<div layout:fragment="contents">
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
	
		<div class="container-fluid text-center">
			<div class="d-flex flex-column">
	
				<h1><img src="./images/title5.png" alt="" class="mt-5"></h1>
				
				<form th:action="@{/WithdrawalAction}" method="post">
					<label class="form-label">会員番号：</label>
					<label id="user" th:text="${user.id}"></label><br>
					
					<label class="form-label">ユーザーID：</label>
					<label id="user" th:text="${user.user_id}"></label><br>
					<button type="button" name="withdrawal" th:value="${user.id}"
						class="btn btn-outline-dark mt-2" data-bs-toggle="modal"
						data-bs-target="#staticBackdrop">退会</button>
					<!-- Modal -->
					<div class="modal fade" id="staticBackdrop"
						data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
						aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">退会について</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body text-start">
									退会を選択すると、ユーザー登録情報の抹消は即時に行われますが、
									現在登録中の行方不明者等の情報につきましては引き続き掲載されます。
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">キャンセル</button>
									<button type="submit" class="btn btn-primary" name="end" th:value="${user.id}">退会する</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				
				<div class="in_frame mt-3">
					<form th:action="@{/ChangePassword}" method="post">
						<label class="form-label">パスワードを変更する</label><br>
						<ul th:unless="${msg4} == null" class="text-start">
							<th:block th:each=erroMsg:${msg4}>
								<li id="error" th:text="${erroMsg}"></li>
							</th:block>
						</ul>
					
						<div class="d-flex flex-row justify-content-center align-items-center mt-1">
							<label class="form-label text-nowrap">変更後：</label>
							<input type="password" name="password1" class="form-control">
						</div>
						<div class="d-flex flex-row justify-content-center align-items-center mt-2">
							<label class="form-label text-nowrap">確認用：</label>
							<input type="password" name="password2" class="form-control">
						</div>
						<input type="submit" value="変更" class="btn btn-outline-dark mt-2">
					</form>
				</div>
				
				<div class="in_frame mt-3">
					<form th:action="@{/ChangeFamilyName}" method="post">
						<label class="form-label">名字を変更する</label><br>
						<label class="form-label">現在：[[${user.familyName}]]</label>
						<ul th:unless="${msg5} == null" class="text-center">
							<th:block th:each=erroMsg:${msg5}>
								<li id="error" th:text="${erroMsg}"></li>
							</th:block>
						</ul>
					
						<div class="d-flex flex-row justify-content-center align-items-center mt-1">
							<label class="form-label text-nowrap">変更後：</label>
							<input type="text" name="familyName" class="form-control">
						</div>
						<input type="submit" value="変更" class="btn btn-outline-dark mt-2">
					</form>
				</div>
				
				<div class="in_frame mt-3">
					<form th:action="@{/ChangeMailAddress}" method="post">
						<label class="form-label">メールアドレスを変更する</label><br>
						<label class="form-label">現在：[[${user.email}]]</label>
						<ul th:unless="${msg6} == null" class="text-center">
							<th:block th:each=erroMsg:${msg6}>
								<li id="error" th:text="${erroMsg}"></li>
							</th:block>
						</ul>
					
						<div class="d-flex flex-row justify-content-center align-items-center mt-1">
							<label class="form-label text-nowrap">変更後：</label>
							<input type="email" name="email" class="form-control">
						</div>
						<input type="submit" value="変更" class="btn btn-outline-dark mt-2">
					</form>
				</div>
				
				<h1><img src="./images/history.png" alt="" class="m-3"></h1>
	
				<h1><img src="./images/info1.png" alt="" class="m-3"></h1>
				<p id="error" th:text="${msg1}"></p>
				<form th:action="@{/UserInformationsMissingPersonAction}"
					method="post">
					<div class="table-responsive">
						<table class="table table-bordered" th:if="${missingPersonsList}">
							<thead>
								<tr>
									<th scope="col" class="small" style="width: 10%">行方不明日</th>
									<th scope="col" class="small" style="width: 10%">氏名</th>
									<th scope="col" class="small" style="width: 5%">性別</th>
									<th scope="col" class="small" style="width: 5%">年齢</th>
									<th scope="col" class="small" style="width: 25%">詳細</th>
									<th scope="col" class="small" style="width: 20%">最後に立ち寄った可能性のある場所</th>
									<th scope="col" class="small" style="width: 15%"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="missingPerson : ${missingPersonsList}">
									<td th:text="${missingPerson.date}" class="small"></td>
									<td th:text="${missingPerson.name}" class="small"></td>
									<td th:text="${missingPerson.gender}" class="small"></td>
									<td th:text="${missingPerson.age}" class="small"></td>
									<td th:text="${missingPerson.detail}" class="small"></td>
									<td class="small">[[${missingPerson.prefectures}]]
										[[${missingPerson.municipalities}]] [[${missingPerson.other}]]</td>
									<td><button type="submit" name="edit"
											th:value="${missingPerson.id}"
											class="btn btn-outline-dark btn-block">編集</button>
										<button type="submit" name="end" th:value="${missingPerson.id}"
											class="btn btn-outline-dark btn-block">終了</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
	
				<h1><img src="./images/info2.png" alt="" class="m-3"></h1>
				<p id="error" th:text="${msg2}"></p>
				<form th:action="@{/UserInformationsMissingPersonSightingsAction}"
					method="post">
					<div class="table-responsive">
						<table class="table table-bordered"
							th:if="${missingPersonSightingsList}">
							<thead>
								<tr>
									<th scope="col" class="small" style="width: 10%">行方不明日</th>
									<th scope="col" class="small" style="width: 5%">性別</th>
									<th scope="col" class="small" style="width: 5%">年齢</th>
									<th scope="col" class="small" style="width: 35%">詳細</th>
									<th scope="col" class="small" style="width: 30%">目撃場所</th>
									<th scope="col" class="small" style="width: 15%"></th>
								</tr>
							</thead>
							<tbody>
								<tr
									th:each="missingPersonSightings : ${missingPersonSightingsList}">
									<td th:text="${missingPersonSightings.date}" class="small"></td>
									<td th:text="${missingPersonSightings.gender}" class="small"></td>
									<td th:text="${missingPersonSightings.age}" class="small"></td>
									<td th:text="${missingPersonSightings.detail}" class="small"></td>
									<td class="small">[[${missingPersonSightings.prefectures}]]
										[[${missingPersonSightings.municipalities}]]
										[[${missingPersonSightings.other}]]</td>
									<td><button type="submit" name="edit"
											th:value="${missingPersonSightings.id}"
											class="btn btn-outline-dark btn-block">編集</button>
										<button type="submit" name="end"
											th:value="${missingPersonSightings.id}"
											class="btn btn-outline-dark btn-block">終了</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
	
				<h1><img src="./images/info3.png" alt="" class="m-3"></h1>
				<p id="error" th:text="${msg3}"></p>
				<form th:action="@{/UserInformationsSuspiciousPersonSightingsAction}"
					method="post">
					<div class="table-responsive">
						<table class="table table-bordered"
							th:if="${suspiciousPersonSightingsList}">
							<thead>
								<tr>
									<th scope="col" class="small" style="width: 10%">行方不明日</th>
									<th scope="col" class="small" style="width: 5%">性別</th>
									<th scope="col" class="small" style="width: 5%">年齢</th>
									<th scope="col" class="small" style="width: 35%">詳細</th>
									<th scope="col" class="small" style="width: 30%">目撃場所</th>
									<th scope="col" class="small" style="width: 15%"></th>
								</tr>
							</thead>
							<tbody>
								<tr
									th:each="suspiciousPersonSightings : ${suspiciousPersonSightingsList}">
									<td th:text="${suspiciousPersonSightings.date}" class="small"></td>
									<td th:text="${suspiciousPersonSightings.gender}" class="small"></td>
									<td th:text="${suspiciousPersonSightings.age}" class="small"></td>
									<td th:text="${suspiciousPersonSightings.detail}" class="small"></td>
									<td class="small">[[${suspiciousPersonSightings.prefectures}]]
										[[${suspiciousPersonSightings.municipalities}]]
										[[${suspiciousPersonSightings.other}]]</td>
									<td><button type="submit" name="edit"
											th:value="${suspiciousPersonSightings.id}"
											class="btn btn-outline-dark btn-block">編集</button>
										<button type="submit" name="end"
											th:value="${suspiciousPersonSightings.id}"
											class="btn btn-outline-dark btn-block">終了</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>