<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー新規登録ページ</title>
</head>
<body>
	<h1>ユーザー新規登録ページ</h1>
	<form th:action="@{/UserRegistrationAction}" method="post" th:object="${user}">
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="errors:${#fields.errors('*')}" th:text="${errors}"></li>
		</ul>
	
		<ul th:unless="${msg} == null">
			<th:block th:each="errorMsg : ${msg}">
				<li id="error" th:text="${errorMsg}"></li>
			</th:block>
		</ul>
		<div>
			<label for="user_id">ユーザーID：</label>
			<input type="text" th:field="*{user_id}">
		</div>
		<div>
			<label for="password">パスワード：</label>
			<input type="password" th:field="*{password}">
		</div>
		<input type="submit" value="登録">
	</form>
	
	<form th:action="@{/Safe}">
		<input type="submit" value="トップページへ">
	</form>

</body>
</html>